.container{
	width: 1024px;
	margin: 0 auto;
	background-color:#E9E9E9
}
.header{
	height: 145px;
	width: 100%;
	background-color:#E9E9E9
}
.inner-header{
	width: 1024px;
	height: 145px;
	margin: 0 auto;
}
.logo-container{
	width: 230px;
	float: left;
	margin-top: 25px;
}
.spu-logo{
	height: auto;
	width: 225px;
}

.header-content{
	width:794px;
	float: right;
	margin-top: 25px;
	height: 100px;
}
.about{
	float:left;
	margin-top: 20px;
	margin-left: 110px;
	border-left: 3px solid #747474;
	padding-left: 10px;
	height: 51px;
}
.programs{
	float:left;
	margin-top: 20px;
	margin-left: 15px;
	border-left: 3px solid #747474;
	padding-left: 10px;
	height: 51px;
}
.registrar{
	float:left;
	margin-top: 20px;
	margin-left: 15px;
	border-left: 3px solid #747474;
	padding-left: 10px;
	height: 51px;
}
.alumni{
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	border-left: 3px solid #747474;
	padding-left: 10px;
	height: 51px;
}
.header-title{
	color: #434343	;
	font-family: "Roboto Slab";
	font-size: 17px;
}
.h-content{
	font-size: 12px;
	opacity: 0.4;
	font-family: "Open Sans";
}
body{
	margin : 0;
	background-color: #E9E9E9;
}
.content{
	height: 700px;
	width: 100%;
}
p{
	margin: 0;
}
.tab-menu{
	width: 100%;
	background-color: #2E641F;
	height: 50px;
	font-family: "Open Sans Light";
}
.tab-link{
	margin: 0 auto;
	height:50px;
	width: 1024px;
}
.menu-list{
	width: 1024px;
	height: 20px;
	margin: 0 auto;
}
.menu-list li{
	margin-top: 20px;
	list-style: none;
	float: left;
	padding-left: 5px;
	font-size: 14px;
}
.search input[type=text] {
	height: 50px;
    width: 90px;
    box-sizing: border-box;
    border: 1px;
    font-size: 14px;
    background-color: #2C601E;
    background-image: url('img/search-icon.png');
    background-position: 10px 17px; 
    background-repeat: no-repeat;
    padding: 9px 10px 10px 32px;
    background-size: 15px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search{
	float: right;
}
.menu-list a{
	text-decoration: none;
	color: #999999;
}
.menu-list a:hover{
	color: white;
}
.content-container{
	background-color:#E9E9E9
	width: 100%;
}
.inner-content{
	width: 1024px;
	margin: 0 auto;
}
.content-image{
	width: 1024px;
	height: auto;
}
.bulletin{
	width: 100%;
	height: 450px;
	margin: 0 auto;
}
.bulletin-board{
	width: 1024px;
	margin: 0 auto;
}
.board1,.board2,.board3{
	
	border: .5px solid #C8C8C8;
	border-top: 5px solid #2E641F;
	width : 336.5px;
	height: 400px;
	display: inline-block;
	background-color: white;
}
.board2{
	margin: 0 auto;
	margin-top: 15px;
	margin-top: 15px;
}
.board3{
	margin: 0 auto;
	margin-top: 15px;
}
.board1{
	margin: 0 auto;
	margin-top: 15px;
}
.subscription{
	margin: 0 auto;
	width: 100%;
	background-color:#E9E9E9;
}
.subscription-page{
	width: 1024px;
	margin: 0 auto;
	height: 450px;
}
.first-column,.second-column,.second-row-first,.second-row-second{
	margin: 0 auto;
	border: .5px solid #C8C8C8;
	border-top: 5px solid #2E641F;
	width : 500px;
	height: 200px;
	display: inline-block;
	background-color: white;
}
.first-column{
	float: left;
}
.second-column{
	float: right;
}
.second-row-first{
	margin-top: 15px;
	float: left;
}
.second-row-second{
	margin-top: 15px;
	float: right;
}
.feedback-form{
	width: 100%;
	height: 500px;
	background-color:#E9E9E9;
}
.box-form{
	margin: 0 auto;
	width: 1024px;
	height: 450px;
}
.sign-up-form{
	margin: 0 auto;
	border: .5px solid #C8C8C8;
	border-top: 5px solid #2E641F;
	width : 1024px;
	height: 450px;
	background-color: white;
}
.form-title{
	padding: 20px;
	font-family: "Roboto Slab";
	font-size: 20px;
	color: #2E641F;
	border-bottom: .5px solid #DCDCDC;
	
}
.form-details{
	padding: 20px;
}
.form-message{
	opacity: 0.3;
	font-family: "Open Sans Light";
	font-size: 15px;
}
.sign-up-details{
	width: 1000px;
	margin: 0 auto;
}
.main-details input[type=text]  {
    width: 318px;
    height: 55px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 11px;
}
.subject input[type=text]  {
    width: 978px;
    height: 55px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    float: left;
    margin-left: 11px;
}
.message textarea{
	width: 978px;
	margin-top: 8px;
	border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    margin-left: 11px;
}
.subject input[type=text],.message textarea,.main-details input[type=text]{
	background-color: #F8F8F8;
}
.submit-button button{
	font-family: "Open Sans Light";
    background-color: #255119;
    height: 50px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-top: 8px;
    margin-left: 11px;
    cursor: pointer;
    border-radius: 4px;
}
.mini-footer{
	height: 500px;
	background-color: #363636;
}
.mini-footer{
	padding-top: 20px;
}
.mini-footer-1 li{
	list-style: none;
	line-height: 22px;
	padding-top: 15px;
	font-family: "Roboto Slab Light";
	color: #999999;
	font-size: 16px;
}
.mini-footer-2 li{
	list-style: none;
	line-height: 22px;
	padding-top: 15px;
	font-family: "Roboto Slab Light";
	color: #999999;
	font-size: 16px;
}
.mini-footer-3 li{
	list-style: none;
	line-height: 22px;
	padding-top: 15px;
	font-family: "Roboto Slab Light";
	color: #999999;
	font-size: 16px;
}.mini-footer-4 li{
	list-style: none;
	line-height: 22px;
	padding-top: 15px;
	font-family: "Roboto Slab Light";
	color: #999999;
	font-size: 16px;
}
.mini-footer-1{
	float: left;
}
.mini-footer-2{
	margin-left: 45px;
	float: left;
}
.mini-footer-3{
	margin-left: 45px;
	float: left;
}
.mini-footer-4{
	margin-left: 45px;
	float: left;
}
.inner-mini-footer{
	margin: 0 auto;
	height: 100%;
	width: 1024px;
}
.footer{
	height: 250px;
	background-color: #222222;
}
.inner-footer{
	margin: 0 auto;
	height: 250px;
	width: 450px;
	background-color: blue;	
}
.inner-footer li{
	list-style: none;	
}
.logo-group{
}
.logo1,.logo2,.logo3{
	width: 60px;
	height: 40px;
}
.foot-title{
	color: white;
}
li a{
	text-decoration: none;
	color: #999999;;
}
li a:hover{
	color: white;
}